<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    
    <!-- Station 1 parameters -->
    
    <add key="BufferSize1" value="10" />
    <!-- Timeout1 : In milliseconds -->
    <add key="Timeout1" value="5000" />
    <!-- DetectionOnly1 : 1 means we are in error detection mode, 0 means we are in error correction mode. -->
    <add key="DetectionOnly1" value="0" />
    <add key="SourceFile1" value="test1.sent.txt" />
    <add key="DestinationFile1" value="test1.received.txt" />


    <!-- Station 2 parameters -->
    
    <add key="BufferSize2" value="10" />
    <!-- Timeout2 : In milliseconds -->
    <add key="Timeout2" value="5000" />
    <!-- DetectionOnly2 : true means we are in error detection mode, false means we are in error correction mode. -->
    <add key="DetectionOnly2" value="0" />
    <add key="SourceFile2" value="test2.sent.txt" />
    <add key="DestinationFile2" value="test2.received.txt" />
    
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>